<a href="https://colab.research.google.com/github/Elwing-Chou/tibame20251203/blob/main/tibame20251203.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>



```
jjjj
jjjj
kkk
```
latex math
$ volume = \frac{3}{4} \pi R^3 $



```
1. =:
   5 == 3 + 2 (是否相等?)
   x = 3 (取代)

2. 型態
   a. 數字: 3 3.14
      * 小數是不精確的
   b. 字串: "xxxx" (英文/中文/空白/數字)

3. 如果 否則
if bmi > 25:
    print
else:
    print

4. 如果 否則如果 否則如果 否則
if age > 80:
    print
elif age > 70:
    print
elif age > 60:
    print
else:
    print

5.
2 + 3
"abc" + "cde"
"abc" + 2(X)

6. int() float() str()
"abc" + str(2)

```

In [4]:
# hhjjjj
x = 20
print(3 + 3.14)
print(0.3333333333333333333333333333333 * 3)

6.140000000000001
1.0

In [8]:
# 2000潤
# 1800平
# 1804潤
# 1803平
year = 1803

if year % 4 == 0:
    if year % 100 == 0:
        if year % 400 == 0:
            print("O")
        else:
            print("X")
    else:
        print("O")
else:
    print("X")

X

In [ ]:
year = 2000
if year % 400 == 0:
    print("O")
elif year % 100 == 0:
    print("X")
elif year % 4 == 0:
    print("O")
else:
    print("X")



```
迴圈1. 單純數幾次的迴圈
計數器
1. 初始化: i = 0
2. 增加: i = i + 1
3. 判斷(繼續): i < 10

i = 0
while i < 10:
    城市
    i = i + 1

千萬別換:
1. 次數掛在小於後面
2. 次=0...次-1
```

In [6]:
print(str(0)+" "+str(5))
print(0, 5)

0 5
0 5

In [ ]:
i = 0
while i < 10:
    print(i, i+5, 10-i, 2*i+1)
    i = i + 1

In [10]:
total = 0
i = 0
while i < 10:
    total = total + (i + 1)
    print(total)
    i = i + 1

1
3
6
10
15
21
28
36
45
55

In [12]:
total = 0
frac = 1

i = 0
while i < 1000:
    if not i == 0:
        frac = frac * i
    total = total + 1 / frac
    i = i + 1

print(total)

2.7182818284590455