<a href="https://colab.research.google.com/github/Elwing-Chou/tibame20251203/blob/main/tibame20251229.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import urllib.request as req
import pandas as pd

url = "https://github.com/Elwing-Chou/tibame20251203/raw/refs/heads/main/tabelog.csv"
req.urlretrieve(url, "tabelog.csv")
df = pd.read_csv("tabelog.csv", encoding="utf-8", index_col=0)
df

,rating,name,url,area_genre,dinner_price,lunch_price,holiday
0,4.24,ボニュ,https://tabelog.com/tw/tokyo/A1304/A130401/131...,"參宮橋車站 / 法式料理, 牛排, 蛋糕","JPY 50,000 - JPY 59,999","JPY 50,000 - JPY 59,999",-
1,4.18,Yama,https://tabelog.com/tw/tokyo/A1316/A131602/132...,白金台車站 / 甜食,"JPY 20,000 - JPY 29,999","JPY 30,000 - JPY 39,999","星期二, 星期三"
2,4.17,おかしやうっちー,https://tabelog.com/tw/tokyo/A1309/A130901/132...,"北參道車站 / 蛋糕, 西式甜點",-,"JPY 5,000 - JPY 5,999",-
3,4.16,蒼菓,https://tabelog.com/tw/tokyo/A1307/A130703/132...,廣尾車站 / 甜食,"JPY 15,000 - JPY 19,999","JPY 15,000 - JPY 19,999","星期一, 星期二, 星期日"
4,4.03,Haruka Murooka,https://tabelog.com/tw/tokyo/A1307/A130701/132...,乃木坂車站 / 甜食,"JPY 20,000 - JPY 29,999","JPY 20,000 - JPY 29,999","星期二, 星期三, 星期四"
...,...,...,...,...,...,...,...
395,3.62,巴裡 小川軒 サロン・ド・テ 新橋店,https://tabelog.com/tw/tokyo/A1301/A130103/131...,"新橋車站 / 咖啡店, 咖啡館, 蛋糕","JPY 1,000 - JPY 1,999","JPY 1,000 - JPY 1,999","星期日, 節假日"
396,3.62,エリティエ,https://tabelog.com/tw/tokyo/A1323/A132301/131...,"白山車站 / 蛋糕, 咖啡店","JPY 1,000 - JPY 1,999",- JPY 999,星期二
397,3.62,カイルズ・グッド・ファインズ,https://tabelog.com/tw/tokyo/A1319/A131902/130...,"新井藥師前車站 / 蛋糕, 麵包, 美國料理",-,- JPY 999,星期一
398,3.62,ゴンドラ,https://tabelog.com/tw/tokyo/A1309/A130904/130...,"市谷車站 / 蛋糕, 西式甜點",- JPY 999,-,"星期日, 節假日"
399,3.62,PAYSAGE 代官山本店,https://tabelog.com/tw/tokyo/A1303/A130303/132...,代官山車站 / 甜食,- JPY 999,- JPY 999,星期一



```
pandas的轉換(apply)

Everything is an object: 每個東西都有形態 每種型態都有操作

list [0] for in .append

print: 功能型態  (): 操作

```

In [7]:
b = round
b(6.7)

import random
def func(op=0):
    if op == 0:
        return random.randint
    else:
        return random.uniform

func(1)(4, 6)

5.846632022031157

0      8.0
1      8.0
2      8.0
3      8.0
4      8.0
      ...
395    7.0
396    7.0
397    7.0
398    7.0
399    7.0
Name: rating, Length: 400, dtype: float64